img {
max-width:100%!important;
page-break-inside:avoid;
margin:0 auto;
}

.exercise,.quiz {
page-break-inside:avoid;
border:3px solid #ddd;
margin:1cm 0;
padding:.4cm;
}

.exercise .exercise-header,.quiz .exercise-header {
margin-bottom:.4cm;
padding-bottom:.2cm;
border-bottom:1px solid #ddd;
}

.exercise .question,.quiz .question {
margin-top:.4cm;
}

.link-inherit,.link-inherit:hover,.link-inherit:focus {
color:inherit;
}
